<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다운로드</title>
  <style>
    body {
        background-color: rgba(128, 128, 128, 0.911);
        width: 90%;
        margin: 0 auto;
        position: static;
    }

    #menu {
        width: 250px;
        border: 1px solid black;
        background-color: rgb(75, 75, 75);

        position: fixed;
        top: 10px;
        right: 10px;

        font-size: small;
        text-shadow: 1px 1px 1px black;
        box-shadow: -3px 3px 10px 2px rgba(121, 121, 121, 0.842);
    }

    li {
        color: white;
    }
    a {
        text-decoration-line: none;
    }

    a:link, a:visited {
        color: rgb(219, 219, 219);
    }

    a:hover, a:active {
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }

    p {
        font-size: small;
        color: white;
        text-align: justify;
        text-shadow: 1px 1px 1px black;
        white-space: normal;
    }

    h2, h3 {
        color: white;
        text-shadow: 2px 2px 5px black
    }

    .top {
        text-align: right;
        font-weight: bold;
    }

</style>
</head>
<body>
    <div id="menu">
        <p>
        {%  if service %}
            <ol>
            {% for val in service %}
                <li><a href="#article7">{{ val }}</a></li>
            {% endfor %}
            </ol>
        {%  endif %}
        </p>
    </div>
    <div>
        <h2 id="title">
            서비스 기획자의 역할
        </h2>
        <p id="article1">
            <h3>
            1. T자형 인재
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
    <div>
        <p id="article2">
            <h3>
            2. 인터넷 기술에 대한 이해
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
    <div>
        <p id="article3">
            <h3>
            3. 도메인 지식
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
    <div>

        <p id="article4">
            <h3>
            4. 사용자경험에 대한 이해
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
    <div>
        <p id="article5">
            <h3>
            5. 프로젝트 관리에 대한 이해
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
    <div>
        <p id="article6">
            <h3>
            6. 시간관리 능력
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
    <div>
        <p id="article7">
            <h3>
            7. 협상 능력
            </h3>
        </p>
        <p>
            기획자는    다양한 이해관계자들과 소통하며 프로젝트를 이끌어가야 한다. 이를 위해서는
            경영자, 개발자, 마케터와의 소통을 위한 이해가 필요하다. 경영자와는 경영의 언어로 대
            화하면서 비즈니스의 목표와 전략을 이해하여 기획과정에 경영목표를 반영할 수 있어야
            한다. 경영자의 비즈니스 목표와 관심사를 이해하고 그에 맞는 기획을 제시할 수 있는 능
            력이 중요하기 때문이다. 개발자와의 소통을 위해서는 개발용어와 개발 프로세스에 대한
            이해가 요구된다. 개발 가능성과 제약사항을 이해하고 개발자와 협력하여 기획을 실제로
            구현될 수 있는 방법을 찾을 수 있어야 하기 때문이다. 마케터와는 마케팅을 이해하는 능
            력이 있어야 소통이 가능하다. 기획자는 마케터와 협력하여 고객의 니즈와 시장 동향을
            파악하고 그에 맞는 기획을 수립할 수 있어야 하므로 마케팅 용어도 알고 있어야 한다.
            이러한 다양한 이해관계자들과의 소통 능력을 갖춘 기획자라야 본인의 역할을 제대로 수
            행할 수 있다. 따라서 경영과 개발 및 마케팅에 관심을 기울이는 것은 능력있는 기획자로
            성장하는데 중요한 요건이 된다.
        </p>
        <p class="top">
            <a href="#title">TOP</a>
        </p>
    </p>
    </div>
</body>
</html>