<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>
<body>
    <h1>마이페이지</h1>
    <p>마이페이지에 오신걸 환영합니다., {{ user_name }}!</p>
    <p>Email: {{ user_email }}</p>
    <p>Current Major: {{ user_major }}</p>
    <p>Tutoring Major(s): {{ user_tutoring_major }}</p>
    <p>Available Days: {{ user_available_days }}</p>
    <p>Available Times: {{ user_available_times }}</p>

    <!-- 회원정보 수정하기 버튼 -->
    <form action="{% url 'webapp:edit_user' %}" method="get">
        <button type="submit">회원정보 수정하기</button>
    </form>

    <!-- Link 구매하기 버튼 -->
    <form action="{% url 'webapp:buy_link' %}" method="get">
        <button type="submit">Link 구매하기</button>
    </form>
    <!-- Tulink 탈퇴하기 버튼 -->
    <form id="delete-account-form" action="{% url 'webapp:delete_account' %}" method="post" style="margin-top: 20px;">
        {% csrf_token %} <!-- CSRF 보호 토큰 -->
        <button type="button" onclick="confirmDeletion()">Tulink 탈퇴하기</button>
    </form>

    <script>
        function confirmDeletion() {
            if (confirm("정말 Tulink의 회원 탈퇴를 진행하시겠습니까?")) {
                document.getElementById("delete-account-form").submit(); // 탈퇴 폼 제출
            }
        }
    </script>

</body>
</html>
