<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 완료</title>
    <style>
        .discord-link {
            display: block;
            margin-top: 20px;
            font-size: 24px; /* 글씨 크기를 크게 설정 */
            text-align: center;
            color: #5865F2; /* Discord 테마 색상 */
            text-decoration: none; /* 밑줄 제거 */
        }
        .discord-link:hover {
            text-decoration: underline; /* 마우스 호버 시 밑줄 추가 */
        }
    </style>
</head>
<body>
    <h1>예약이 완료되었습니다!</h1>
    <p>예약 정보는 이메일로 전송되었습니다. 확인해 주세요.</p>
    <a href="/">홈으로 돌아가기</a>
    <!-- Discord 링크 추가 -->
    <a href="https://discord.gg/9pRc8bhy" class="discord-link" target="_blank">회원님의 Tulink입니다 !</a>
</body>
</html>
